@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html, body, #root { height: 100%; }
body { @apply bg-neutral-950 text-neutral-100 antialiased; font-family: ui-serif, Georgia, serif; }
